/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.carousel-indicators > button {
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    background-color: #F2B7C0 !important;  
    border: 1px solid black !important;
}

.c-item{
    height: 800px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.zom-logo{
    height: 300px;
    width: 400px;
    object-fit: contain;
    padding-top: 20px;
}

.hells-logo{
    height: 300px;
    width: 400px;
    object-fit: contain;
}

.jujutsu-logo{
    height: 300px;
    width: 400px;
    object-fit: contain;
    margin-top: -45px;
}
.carousel-item {
    position: relative !important;
}

.carousel-caption {
    position: absolute!important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    padding: 30px
}

.right-caption {
    right: 0 !important;
    width: 500px !important; /* Set width to 500px */
    left: auto !important;
    text-align: start;
    margin-top: -150px;
}

.right-caption p{
    color: black;
    font-size: 20px;
}

.jujutsu p{
    margin-top: -40px;
}

button{
    background-color: #F2B7C0 !important;
    border: none !important;
}

.hells-p p{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.left-caption {
    left: 0;
    right: auto; /* Reset the right value */
    width: 500px; /* Set width to 500px */
    text-align: left; /* Align text to the left */
    margin-top: -160px;
    font-size: 19px;
    margin-left: 150px;
}

.zom p{
    padding-top: 30px;
    color: black;
}